@charset "UTF-8";
@import "reset.css";
@import "cores.css";

/* @font-face {
     font-family: Fortnite;
     src: url(fonts/fortnite/fortnite.otf)
 } */

@font-face {
     font-family: oi;
     src: url(fonts/Oi/Oi-Regular.ttf);
 }

body{
     color: var(--platinum);
     font-family: oi; 
     background-color: var(--midnight-violet);
 }
